/*===================================================================*/
/*
/* THEME MOBILE STYLES
/*
/*===================================================================*/

/*===================================================================*/
/* RESPONSIVE NAVIGATION
/*===================================================================*/
.viewport {
     display: -webkit-box;
     display: -ms-box;
     display: box;
     overflow: hidden;
     position: relative;
     margin-bottom: 100px;
     -webkit-perspective: 1000;
     -webkit-transform: translateZ(0);
     -webkit-backface-visibility: hidden;
     -webkit-box-orient: horizontal;
     -moz-box-orient: horizontal;
      -ms-box-orient: horizontal;
          box-orient: horizontal; 
}

.mobile-sidebar {
     background: #262626;
     display: block;
     overflow: visible;
     position: absolute;
     width: 80%;
}

.mobile-sidebar.mobile-sidebar-left {
     left: 0;
     -webkit-transform: translate3d(-100%, 0, 0);
     -moz-transform: translate3d(-100%, 0, 0);
      -ms-transform: translate3d(-100%, 0, 0);
       -o-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.mobile-sidebar.mobile-sidebar-right {
     right: 0;
     -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
      -ms-transform: translate3d(100%, 0, 0);
       -o-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.m-pikabu-left-visible .mobile-sidebar.mobile-sidebar-left, 
.m-pikabu-right-visible .mobile-sidebar.mobile-sidebar-right {
     -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
         -ms-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
             transform: translate3d(0, 0, 0);
}

.m-pikabu-left-visible .wrapper.mobile-sidebar-left, 
.m-pikabu-right-visible .wrapper.mobile-sidebar-right { position: absolute; }

.wrapper { 
    width: 100%; 
    -webkit-backface-visibility: hidden; 
}

@-moz-document url-prefix() { 
    .wrapper {
        float: left;
    } 
}

.m-pikabu-left-visible .wrapper {
     -webkit-transform: translate3d(80%, 0, 0);
        -moz-transform: translate3d(80%, 0, 0);
         -ms-transform: translate3d(80%, 0, 0);
          -o-transform: translate3d(80%, 0, 0);
             transform: translate3d(80%, 0, 0);
}

.m-pikabu-right-visible .wrapper {
  -webkit-transform: translate3d(-80%, 0, 0);
     -moz-transform: translate3d(-80%, 0, 0);
      -ms-transform: translate3d(-80%, 0, 0);
       -o-transform: translate3d(-80%, 0, 0);
          transform: translate3d(-80%, 0, 0);
}

.wrapper,
.mobile-sidebar {
     -webkit-transition: -webkit-transform 0.2s ease-in;
        -moz-transition: -webkit-transform 0.2s ease-in;
          -o-transition: -webkit-transform 0.2s ease-in;
             transition: -webkit-transform 0.2s ease-in;
}

/* OVERLAY */
.mobile-overlay { display: none; }

.m-pikabu-left-visible .mobile-overlay, 
.m-pikabu-right-visible .mobile-overlay {
     cursor: pointer;
     display: block;
     height: 100%;
     position: absolute;
     top: 0;
     width: 100%;
     z-index: 30;
}

.m-pikabu-overflow-scrolling .mobile-sidebar { overflow: auto; }

.m-pikabu-overflow-touch { -webkit-overflow-scrolling: touch; }


/* HEADER SIDEBAR TOGGLES */
.mobile-controls { 
    background-color: #fff;
    border-bottom: 1px solid #EDEDED;
    display: none; 
    height: 45px; 
    line-height: 45px;
    white-space: nowrap;
    width: 100%;
}

.mobile-controls a,
.mobile-controls a:hover { 
     color: #FFF!important;
}

.mobile-nav-toggle {
    width: 30px;
    height: 45px;
    background: url(../images/sprite.png) no-repeat -20px -321px;
    display: block;
    float: right;
    margin-right: -1px;
    padding: 0 20px 0 45px;
    position: relative;
    text-align: right;
}

.mobile-nav-toggle:hover { 
     cursor: pointer; 
}

/* MOBILE PAGINATION */
.mobile-pagination {
    position: absolute;
    left: 0;
    top: 0;
}

.mobile-pager {
    display: inline-block;
    height: 45px;
    width: 45px;
}

.mobile-pager a {
    background: url(../images/sprite.png) no-repeat -4px -363px;
    border-right: 1px solid #EDEDED;
    display: block;
    height: 45px;
    width: 45px;
}

.mobile-pager.next a {
    background-position: -54px -363px;
    margin-left: -4px;
}

/* OFF-CANVAS NAVIGATION */
#mobile-nav {
     display: block;
     padding: 0;
     z-index: 999;
     margin: 0px;
}

#mobile-nav ul {
     display: block;
}

#mobile-nav li {
     border-top: 1px solid #2B2B2B;
     display: block;
     margin: 0 auto;
     width: 85%;
}

#mobile-nav li:first-child {
     border-top: none;
}

#mobile-nav ul.sub-menu li {
     width: 95%;
     margin-left: 5%;
}

#mobile-nav li a {
     color: #B7B8B8!important;
     display: block;
     font-size: 17px;
     font-size: 1.7rem;
     height: 2.5em;
     line-height: 2.5em;
     text-decoration: none;
}

#mobile-nav li a:hover {
     color: #FFF!important;
}

#mobile-nav li.current-menu-item a {
    cursor: pointer;
}

/* OFF-CANVAS SEARCH */
#mobile-search {
     margin: 0 auto 10px;
     width: 85%;
     padding: 7.5% 0 0;
}

#mobile-search input[type="text"] {
     background: #2B2B2B;
     border: none;
     border-radius: 4px;
     margin: 0px;
     cursor: pointer;
     padding: 3px 15px 2px 45%;
     font-size: 14px;
     -webkit-transition: all .2s;
        -moz-transition: all .2s;
         -ms-transition: all .2s;     
          -o-transition: all .2s;
}

@-moz-document url-prefix() { 
    #mobile-search input[type="text"] {
        padding: 10px 15px 10px 40%;
    }
}

#mobile-search .button {
    display: none;
}

.viewport #mobile-search input[type="text"]:focus {
     background-position: 107% -630px; 
     color: #FFF!important;
     padding-left: 15px;
     text-align: left;
     border:none !important;
}


/*===================================================================*/
/*
/* BEGIN MEDIA QUERIES
/*
/*===================================================================*/
/*===================================================================*/
/* PRIMARY CUT
/*===================================================================*/
@media only screen and (max-width : 768px) {
	
    h1, h2, h3, h4, h5, h6 { -webkit-font-smoothing: antialiased; font-weight: normal; }

	/* STRUCTURE */
    .viewport {
        margin-bottom: 0;
    }
    
    .hfeed,
    .page .entry-content,
    .single-post #respond {
        margin-bottom: 75px;
    }

    .columns,
    .page .entry-content {
        padding: 0 30px;
    }
    
    .twelve.columns {
        padding: 0;
    }

    section {
        text-align: center;
    }

    section pre {
        text-align: left;
    }

    .single section {
        text-align: left;
    }

    /* HEADER / FOOTER */
	header {
		padding: 60px 0 120px;
	}
    
	.logo img {
		margin-bottom: 0px;
	}

	.mobile-controls {
	     display: block;
	}

    footer {
        display: none;
    }

	/* SINGLE POSTS */	
	section.type-post {
		max-width: 100%;
	}
	
    blockquote { 
        margin: 30px 0; 
    }
    
    pre { 
        margin: 35px 0 35px!important; 
    }
    
    .entry-content ul, 
    .entry-content ol { 
        margin: 30px 0 30px 20px; 
    }

	.single-attachment .entry-content .entry-content-media img {
		margin-bottom: 70px;
	}

    .post-password-form input[type="password"] {
        width: 100%;
    }

	/* COMMENTS */
    .comment-form label {
        position: inherit;
    }

	.comment-form input.eight {
		width: 100%;
	}

    .comment-wrap:before {
        display: none;
    }
	
	p.logged-in-as {
		display: none;
	}

    section.format-aside p {
        font-size: 16px;
        line-height: 1.6em;
    }

    #infscr-loading {
        left: 50%;
        margin-left: -8px;
    }

	/* CONTACT */
	ul.bean-contactform .button {
		width: 100%;
	}
}


/*===================================================================*/
/* SMALLER SCREENS
/*===================================================================*/
@media only screen and (max-width : 400px) {
    /* HEADER */
    #mobile-nav li a { 
        font-size: 16px; 
        font-size: 1.6rem; 
    }

    #mobile-search input[type="text"] {
        padding-left: 40%;
    }

    @-moz-document url-prefix() { 
        #mobile-search input[type="text"] {
            padding: 10px 15px 10px 35%;
        }
    }

    /* BLOG */
    section .post-after li {
        display: block;
        margin: 0;
    }

    .comment-form input[type="submit"] {
        width: 100%;
    }

    .comments .children {
        margin: 0;
    }

}




/*===================================================================*/
/* MUCH SMALLER SCREENS
/*===================================================================*/
@media only screen and (max-width : 320px) {
    section.post .post-inner {
        padding: 18% 12%;
    }
}




/*===================================================================*/
/*
/* RETINA CSS
/*
/*===================================================================*/
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {
    .bean-likes,
    .mobile-pager a,
    .fancybox-close,
    .fancybox-nav span,
    .mobile-nav-toggle,
	.bean-direction-nav a,
    section.post .format-icon,
    .format-image .entry-content-media:after {
		background-image: url(../images/retina/sprite@2x.png);
		background-size: 100px 550px;
	}
	
    a.jp-play span,
    a.jp-pause span,
    .entry-content .mejs-controls .mejs-play button,
    .entry-content .mejs-controls .mejs-pause button,
    .entry-content .mejs-controls .mejs-volume-button button { 
        background-image:url(../images/retina/jplayer@2x.png);
        background-size: 36px 72px; 
    }
}